### 행정안전부 보도자료 데이터 수집
- https://mois.go.kr
- post 방식 사용
- 뉴스 소식 -> 보도자료

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [10]:
page = 1
params = {
    "nttId": 0,
    "bbsTyCode": "BBST03",
    "bbsAttrbCode": "BBSA03",
    "authFlag": "Y",
    "pageIndex": page,
    "cal_url": "/sym/cal/EgovNormalCalPopup.do",
    "searchCnd": 0,
}
url = "https://mois.go.kr/frt/bbs/type010/commonSelectBoardList.do?bbsId=BBSMSTR_000000000008"

In [14]:
response = requests.post(url, params = params)

In [15]:
dom = BeautifulSoup(response.text, "html.parser")

In [29]:
#print_area > div.table_wrap.type_01 > form > table > tbody > tr:nth-child(1) > td.l
#print_area > div.table_wrap.type_01 > form > table
# == .table_style1 mobile

elements = dom.select(".table_style1.mobile > tbody > tr")
len(elements)

10

In [33]:
datas = []
for element in elements:
    datas.append({
        "no": element.select_one("td:nth-child(1)").text.strip(),
        "title": element.select_one("td:nth-child(2)").text.strip(),
        "link": element.select_one("td:nth-child(2) a").get("href"),
        "writer": element.select_one("td:nth-child(4)").text.strip(),
        "data": element.select_one("td:nth-child(5)").text.strip(),
        "pv": element.select_one("td:nth-child(6)").text.strip(),
    })
mois_df = pd.DataFrame(datas)
mois_df.tail(2)

,no,title,link,writer,data,pv
8,11406,"한국에 거주하는 외국인주민 수 222만 명, 총인구 대비 4.3%",/frt/bbs/type010/commonSelectBoardArticle.do;j...,사회통합지원과,2020.10.29.,473
9,11405,코로나19 위기 극복을 위한 청사본부 단체헌혈 실시,/frt/bbs/type010/commonSelectBoardArticle.do;j...,관리총괄과,2020.10.29.,415